<!DOCTYPE html>
<html>

<head>

    <title>Book Store Management</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <header>

        <div class="navbar">

            <h2 class="logo">

                 Book Store

            </h2>

            <nav>

                <a href="/">Home</a>

                <a href="/books">Books</a>

                <a href="/add-book">Add Book</a>

            </nav>

        </div>

    </header>

    <main>